<div class="container">
<h1>New booking for <%= @surfboard.name %></h1>
  <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%= f.label :book_your_dates %>
    <%= f.datetime_select :start_date %>
    <%= f.datetime_select :end_date %>
    <%= f.submit "book", class: "btn btn-primary mt-2" %>
  <% end %>
</div>



