<div class="container">
<h1>New booking for <%= @surfboard.name %></h1>
  <%= simple_form_for [@surfboard, @booking] do |f| %>
    <%= f.label :date_of_tour %>
    <%= f.datetime_field :startdate %>
    <%= f.datetime_field :enddate %>
    <%= f.submit "book", class: "btn btn-primary mt-2" %>
  <% end %>
</div>



