<div>
  <%= cl_image_tag booking.surfboard.photo.key, height: 280, width: 312, crop: :fill %>
  <div>
    <h3>Has been rented from <%= booking.surfboard.user.email %></h3>
    <div>

      <% if booking.startdate > DateTime.now %>
        <div>
          <p><em><%= booking.approved ? 'confirmed' : 'pending confirmation' %></em></p>
        </div>
      <% end %>
    </div>
    <p><%= booking.startdate %> - <%= booking.enddate %></p>
    <% if booking.startdate > DateTime.now %>
      <%= link_to 'cancel booking',
                  booking_path(booking),
                  method: :delete,
                  data: { confirm: "Please confirm if you want to cancel your booking?" }  %>
    <% end %>
  </div>
</div>