<div>
  <div>
    <div>
      <% if my_booking.start_date > DateTime.now %>

        <div>
          <% if my_booking.surfboard.photo.attached? %>
          <%= cl_image_tag my_booking.surfboard.photo.key, height: 280, width: 312, crop: :fill %>
          <% else %>
          <%= image_tag "https://res.cloudinary.com/dhj0qswpc/image/upload/v1613352835/u6u3dr91qab0qzfvu18uj6v31agh.jpg", height: 280, width: 312, crop: :fill %>
          <% end %>
          <div>
            <h2><%= my_booking.surfboard.name %> has been booked for <strong><%=((my_booking.end_date).to_time - (my_booking.start_date).to_time) / 3_600%></strong> hours</h2>
            <h4><strong><%= my_booking.approved ? 'confirmed' : 'pending confirmation' %></strong></h4>
            <h3>Total price for <%= ((my_booking.end_date).to_time - (my_booking.start_date).to_time)/ 3_600%> hours is: <strong>£<%= my_booking.surfboard.price * ((my_booking.end_date).to_time - (my_booking.start_date).to_time) / 3_600%></strong></h3>
            <p><%= my_booking.start_date %> - <%= my_booking.end_date %></p>
            <% if my_booking.start_date > DateTime.now %>
              <%= link_to 'cancel booking',
                          booking_path(my_booking),
                          method: :delete,
                          data: { confirm: "Please press ok if you want to cancel your booking or cancel to go back to your booking" }  %>
            <% end %>
            <%= link_to "edit my booking", edit_booking_path(my_booking) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>




